$opgg-color-bg1: #5383e8;
$opgg-color-bg2: #232f46;
$opgg-color-bg3: #788185;
$opgg-color-bg4: #e3e3e3;

$opgg-color-border1: #e9eff4;

$color-text1: #000;
$color-text2: #28344e; //상단 배너 new beta 폰트 색깔
$color-text3: #c3cbd1;
$color-text4: #00fede; //칼바람 우르프 글씨 색상 
$color-text5: #b3cdff;
$color-text6: #9b9b9b;
$color-text7: #4a4a4a;
$color-text8: #666666;
$color-text9: #1ab80c;
$color-text10: #879292;
$color-text11: #d5dadd;

$badge-color1: #ffb900; //new beta 배경색

