$opgg-color-bg1: #5383e8;
$opgg-color-bg2: #232f46;
$opgg-color-bg3: #788185;
$opgg-color-bg4: #e3e3e3;
$opgg-color-bg5: #1d2e51; //29 46 81
$opgg-color-bg6: #eaeaea;
$opgg-color-bg7: #f7f7f7;
$opgg-color-bg8: #e0e3e3;
$opgg-color-bg9: #1f8ecd; //31 142 205
$opgg-color-bg10: #955dff;
$opgg-color-bg11: #e8eaea;
$opgg-color-bg12: #f2f2f2;
$opgg-color-bg13: #e0e3e2;
$opgg-color-bg14: #a5cfec;
$opgg-color-bg15: #e2b6b4;
$opgg-color-bg16: #333333; //51 51 51
$opgg-color-bg17: #ef5a52;
$opgg-color-bg18: #64b1e4;
$opgg-color-bg19: #e89d99;
$opgg-color-bg20: #ecf2ff;


$opgg-color-border1: #e9eff4;
$opgg-color-border2: #f2f3f5;
$opgg-color-border3: #ebeef1;
$opgg-color-border4: #ced3d3;
$opgg-color-border5: #c6cbcb;
$opgg-color-border6: #1a78ae;
$opgg-color-border7: #6833d5;
$opgg-color-border8: #dcdfdf; //220 223 223
$opgg-color-border9: #cdd2d2; //205 210 210
$opgg-color-border10: #ededed;
$opgg-color-border11: #99b9cf; //153 185 207
$opgg-color-border12: #cea7a7;
$opgg-color-border13: #4aa1d2;
$opgg-color-border14: #d67b77;

$opgg-color-percentage1: #c6443e; //198 68 62

$opgg-color-score1: #2daf7f;

$color-text1: #000;
$color-text2: #28344e; //상단 배너 new beta 폰트 색깔
$color-text3: #c3cbd1;
$color-text4: #00fede; //칼바람 우르프 글씨 색상 
$color-text5: #b3cdff;
$color-text6: #9b9b9b;
$color-text7: #4a4a4a;
$color-text8: #666666; //102 102 102
$color-text9: #1ab80c;
$color-text10: #879292;
$color-text11: #d5dadd;
$color-text12: #0475b8;
$color-text13: #1da900;
$color-text14: #d0021b;
$color-text15: #333333;
$color-text16: #777777;
$color-text17: #4990e2;
$color-text18: #9b9b9b;
$color-text19: #b6b6b6;
$color-text20: #4a4a4a;
$color-text21: #657070;
$color-text22: #eabd56;
$color-text23: #242929;
$color-text24: #f2f2f2; //242 242 242
$color-text25: #99a2a2;
$color-text26: #141717;
$color-text27: #555e5e; //85 94 94
$color-text28: #879292; //135 146 146
$color-text29: #676f89; 
$color-text30: #555555; //85 85 85
$color-text31: #353a3a; //53 58 58
$color-text32: #999999; //153 153 153
$color-text33: #4171d6;
$color-text34: #727272;

$badge-color1: #ffb900; //new beta 배경색
$badge-color2: #ffa302;



// $color-main100: #28344E;
// $color-main200: #2F436E;
// $color-main300: #2F436E;
// $color-main400: #4171D6;
// $color-main500: #5383E8;
// $color-main600: #5383E8;
// $color-main700: #5383E8;
// $color-main800: #81ACFF;
// $color-main900: #81ACFF;
// $color-gray0: #31313C;
// $color-gray100: #282830;
// $color-gray200: #1C1C1F;
// $color-gray250: #424254;
// $color-gray300: #515163;
// $color-gray400: #7B7A8E;
// $color-gray500: #9E9EB1;
// $color-gray600: #9E9EB1;
// $color-gray700: #B7B7C9;
// $color-gray800: #B7B7C9;
// $color-gray900: #FFF;
// $color-red100: #59343B;
// $color-red200: #703C47;
// $color-red300: #703C47;
// $color-red400: #D31A45;
// $color-red500: #E84057;
// $color-red600: #E84057;
// $color-red700: #E84057;
// $color-red800: #FF6C81;
// $color-red900: #FF6C81;
// $color-orange100: #703100;
// $color-orange200: #8E3E00;
// $color-orange300: #8E3E00;
// $color-orange400: #F06F00;
// $color-orange500: #FF8200;
// $color-orange600: #FF8200;
// $color-orange700: #FF8200;
// $color-orange800: #FF9F4A;
// $color-orange900: #FF9F4A;
// $color-yellow100: #4A340E;
// $color-yellow200: #76480F;
// $color-yellow300: #76480F;
// $color-yellow400: #E28400;
// $color-yellow500: #EB9C00;
// $color-yellow600: #EB9C00;
// $color-yellow700: #EB9C00;
// $color-yellow800: #FFB900;
// $color-yellow900: #FFB900;
// $color-green100: #304A1D;
// $color-green200: #24662B;
// $color-green300: #24662B;
// $color-green400: #139020;
// $color-green500: #00AE0A;
// $color-green600: #00AE0A;
// $color-green700: #00AE0A;
// $color-green800: #6CC92D;
// $color-green900: #6CC92D;
// $color-teal100: #1D4346;
// $color-teal200: #00666E;
// $color-teal300: #00666E;
// $color-teal400: #00A399;
// $color-teal500: #00BBA3;
// $color-teal600: #00BBA3;
// $color-teal700: #00BBA3;
// $color-teal800: #00D7B0;
// $color-teal900: #00D7B0;
// $color-blue100: #183955;
// $color-blue200: #114882;
// $color-blue300: #114882;
// $color-blue400: #006DE2;
// $color-blue500: #0093FF;
// $color-blue600: #0093FF;
// $color-blue700: #0093FF;
// $color-blue800: #00B8ED;
// $color-blue900: #00B8ED;
