.body-category-area {
    display: block;
    background-color: #fff;
    .category-group {
        @include common-inner;
        display: flex;
    }
}

.advertisement-area {
    @include common-inner;
}

.body-area {
    @include common-inner;
    display: flex;

    .main-area {
        width: 734px;

        .recommendation-area {
            display: flex;
            flex-direction: column;
            margin-top: 12px;
            width: 100%;
            border: 1px solid $opgg-color-border17;
            background-color: $opgg-color-bg24;
            .spell-area {
                .title {
                    display: flex;
                    align-items: center;
                    height: 42px;
                    line-height: 17px;
                    letter-spacing: -0.2px;
                    vertical-align: middle;
                    border-bottom: 1px solid $opgg-color-border17;
                    font-size: 14px;
                    font-weight: 700;
                    background-color: #fff;
                    color: $color-text16;
                    .txt {
                        width: 503px;
                        padding-left: 20px;
                        color: $color-text37;
                    }
                    .pickrate,
                    .winrate {
                        width: 86px;
                        text-align: center;
                    }
                }
                .spell-set1,
                .spell-set2 {
                    display: flex;
                    align-items: center;
                    .spell {
                        padding: 10px 0 10px 20px;
                        width: 503px;
                        img {
                            margin-right: 20px;
                            width: 42px;
                            border: 1px solid #000;
                            border-radius: 2px;
                        }
                    }
                    .pickrate {
                        width: 86px;
                        text-align: center;
                        .ratio {
                            font-size: 13px;
                            font-weight: 700;
                            color: $color-text7;
                        }
                        .quantity {
                            margin-top: 3px;
                            line-height: 15px;
                            font-size: 13px;
                            color: $color-text16;
                        }
                    }
                    .winrate {
                        width: 86px;
                        text-align: center;
                        font-size: 13px;
                        font-weight: 700;
                        color: $color-text16;
                    }
                }

                .spell-set2 {
                    border-top: 3px solid $opgg-color-bg6;
                }

            }
            .skill-build-area {
                .title {
                    display: flex;
                    align-items: center;
                    height: 42px;
                    line-height: 17px;
                    letter-spacing: -0.2px;
                    vertical-align: middle;
                    border-bottom: 1px solid $opgg-color-border17;
                    font-size: 14px;
                    font-weight: 700;
                    background-color: #fff;
                    color: $color-text16;
                    .txt {
                        width: 503px;
                        padding-left: 20px;
                        color: $color-text37;
                    }
                    .pickrate,
                    .winrate {
                        width: 86px;
                        text-align: center;
                    }
                    .plus {
                        width: 58px;
                        text-align: center;
                    }
                }
                .skill-build-section {
                    display: flex;
                    align-items: center;
                    .skill-build {
                        padding: 10px 0 10px 20px;
                        width: 503px;
                        .skill-master {
                            display: flex;

                            .skill-command-box {
                                position: relative;
                                .skill-img {
                                    height: 42px;
                                    border: 1px solid #000;
                                    border-radius: 2px;
                                }
                                .skill-command {
                                    position: absolute;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    left: 32px;
                                    bottom: 4px;
                                    width: 20px;
                                    height: 20px;
                                    letter-spacing: -0.5px;
                                    border-radius: 1px;
                                    font-size: 12px;
                                    background: rgba(0,0,0,0.5);
                                    color: #fff;
                                }
                            }
                        }
                        // 스킬 안의 알파벳 포지션 다시 잡고 문제 해결해야함! 3/7
                        table {
                            td {
                                width: 29px;
                                height: 29px;
                                line-height: 12px;
                                letter-spacing: -0.4px;
                                border: 1px solid $opgg-color-border18;
                                font-size: 11px;
                                text-align: center;
                                background-color: #fff;
                                .skill-command-box {
                                    position: relative;
                                    img {
                                        height: 29px;
                                        border: 1px solid #000;
                                        border-radius: 2px;
                                    }
                                    .skill-command {
                                        position: absolute;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        left: 18px;
                                        bottom: 4px;
                                        width: 10px;
                                        height: 10px;
                                        letter-spacing: -0.5px;
                                        border-radius: 1px;
                                        font-size: 10px;
                                        background: rgba(0,0,0,0.5);
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }

                    .pickrate {
                        width: 86px;
                        text-align: center;
                        .ratio {
                            font-size: 13px;
                            font-weight: 700;
                            color: $color-text7;
                        }
                        .quantity {
                            margin-top: 3px;
                            line-height: 15px;
                            font-size: 13px;
                            color: $color-text16;
                        }
                    }

                    .winrate {
                        width: 86px;
                        text-align: center;
                        font-size: 13px;
                        font-weight: 700;
                        color: $color-text16;
                    }
                }
            }
        }

        .blank {
            width: 58px;
        }
    }

    .side-area {
        margin-left: 8px;
        width: 336px;
    }
}