.menu-area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 48px;
    background-color: $opgg-color-bg1;
    border-bottom: 1px solid #4171d6;
    .menu-group {
        position: relative;
        display: flex;
        flex-shrink: 0;
        margin: 0 100px;
        .menu-item {
            margin-left: 24px;
            padding-top: 13px;
            padding-bottom: 11.4px;
            color: $color-text5;
            &.knife-wind,
            &.urf {
                color: $color-text4;
            }

            &.is-active {
                color: #fff;
                border-bottom: 2px solid #fff;
            }
        }
    }
    .search-bar {
        position: absolute;
        display: flex;
        align-items: center;
        top: 8px;
        right: 0;
        width: 340px;
        height: 32px;
        border: none;
        .search-btn {
            display: flex;
            align-items: center;
            padding: 0 12px;
            height: 32px;
            border-radius: 4px 0 0 4px;
            font-size: 12px;
            background-color: $opgg-color-bg20;
            color: $color-text33;
            &::after {
                content: '';
                margin-top: 3px;
                margin-left: 4px;
                border-width: 4px;
                border-style: solid;
                border-top-color: $opgg-color-bg1;
                border-bottom-color: transparent;
                border-left-color: transparent;
                border-right-color: transparent;
            }
        }
        .search {
            padding: 0 12px 0 14px;
            height: 32px;
            &::placeholder {
                font-size: 12px;
                color: $color-text34;
            }
        }
        .logo {
            width: 54px;
            height: 32px;
            border-radius: 0 4px 4px 0;
            background-color: #fff;
            img {
                height: 14px;
            }
        }
    }
}

// btn-menu 속성값 안넣어줌