.user-body-area {
    @include common-inner;

    // 메뉴 영역 아래에 선 긋는게 잘 안그어짐 
    .user-menu-area {
        display: flex;

        .total-menu {
            display: block;
            padding: 0 6px;
            min-width: 70px;
            height: 40px;
            line-height: 40px;
            font-size: 13px;
            border-width: 1px;
            border-style: solid;
            border-color: $opgg-color-border5 $opgg-color-border5 $opgg-color-bg6;
            background-color: $opgg-color-bg11;
            color: rgb(20, 23, 23);
            text-align: center;
        }

        .champion-menu {
            padding: 0 6px;
            min-width: 70px;
            height: 40px;
            line-height: 40px;
            font-size: 13px;
            border: 1px solid $opgg-color-border5;
            background-color: $opgg-color-bg12;
            color: $color-text27;
            text-align: center;
        }

        .ingame-menu {
            position: relative;
            margin-left: 15px;
            padding: 0 20px;
            min-width: 70px;
            height: 40px;
            line-height: 40px;
            font-size: 13px;
            border: 1px solid $opgg-color-border5;
            background-color: $opgg-color-bg12;
            color: $opgg-color-border6;
            text-align: center;
            .ico-ingame {
                transform: translateY(25%);
            }
        }
    }

    .advertisement-area {
        margin-top: 30px;
    }

    .user-game-area {
        display: flex;

        .user-statistics-area {
            display: flex;
            flex-direction: column;
            width: 300px;
            .solo-rank {
                display: flex;
                margin-top: 12px;
                padding: 8px 0;
                width: 100%;
                border: 1px solid $opgg-color-border9;
                color: $color-text28;
                background-color: $opgg-color-bg12;
                box-shadow: 0 1px $opgg-color-border8;
                .medal {
                    padding: 10px 8px;
                    width: 120px;
                    height: 124px;
                    text-align: center;
                }
                .info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 178px;
                    height: 124px;
                }
            }

            .free-rank {
                display: flex;
                margin-top: 12px;
                padding: 8px 0;
                width: 100%;
                border: 1px solid $opgg-color-border9;
                color: $color-text28;
                background-color: $opgg-color-bg12;
                box-shadow: 0 1px $opgg-color-border8;
                .medal {
                    padding: 9px 28px;
                    width: 120px;
                    height: 82px;
                    text-align: center;
                }
                .info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 178px;
                    height: 82px;
                    font-size: 12px;
                }
            }

            .champion-statistics {
                margin-top: 10px;
                border: 1px solid $opgg-color-border9;
                border-radius: 2px;
                background-color: $opgg-color-border10;
                box-shadow: 0 1px $opgg-color-border8;

                .statistics-menu {
                    display: flex;
                    width: 100%;
                    height: 44px;
                    .season-total {
                        flex: 1;
                        padding-top: 7px;
                        padding-bottom: 6px;
                        line-height: 15px;
                        font-size: 12px;
                        font-weight: 700;
                        border-bottom: 1px solid $opgg-color-border10;
                        color: $color-text27;
                        text-align: center;
                    }

                    .season-solo {
                        flex: 1;
                        padding-top: 7px;
                        padding-bottom: 6px;
                        line-height: 15px;
                        font-size: 12px;
                        border-left: 1px solid $opgg-color-border9;
                        border-bottom: 1px solid $opgg-color-border9;
                        background-color: $opgg-color-bg12;
                        color: $color-text28;
                        text-align: center;
                    }

                    .season-free {
                        flex: 1;
                        padding-top: 7px;
                        padding-bottom: 6px;
                        line-height: 15px;
                        font-size: 12px;
                        border-left: 1px solid $opgg-color-border9;
                        border-bottom: 1px solid $opgg-color-border9;
                        background-color: $opgg-color-bg12;
                        color: $color-text28;
                        text-align: center;
                    }
                }

                .champion-group {
                    display: flex;
                    flex-direction: column;
                    .champion-item {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 52px;
                        border-bottom: 1px solid $opgg-color-border9;
                        .info {
                            padding-left: 8px;
                            width: 80px;
                            text-align: left;
                        }
                        .kda {
                            width: 90px;
                            line-height: 1.2;
                            text-align: center;
                        }
                        .played {
                            width: 70px;
                            text-align: center;
                        }
                    }
                }
            }

            .recent-winrate {
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                border: 1px solid $opgg-color-border9;
                border-radius: 2px;
                background-color: $opgg-color-border10;
                box-shadow: 0 1px $opgg-color-border8;
                .subject {
                    padding: 8px 0;
                    width: 100%;
                    border-bottom: 1px solid $opgg-color-border9;
                    text-align: left;
                }
                .winrate-group {
                    .winrate-item {
                        border-bottom: 1px solid $opgg-color-border9;
                        .ico-champion {
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                        }
                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }

            .recent-user {
                margin-top: 12px;
                border: 1px solid $opgg-color-border9;
                border-radius: 2px;
                box-shadow: 0 1px $opgg-color-border8;
                background-color: $opgg-color-bg12;

                .subject {
                    display: block;
                    padding: 10px 16px;
                    font-size: 12px;
                    font-weight: 700;
                    border-bottom: 1px solid $opgg-color-border9;
                    color: $color-text27;
                }

                .recent-user-menu {
                    display: flex;
                    justify-content: space-around;
                    .sort-btn {
                        padding-top: 11px;
                        padding-bottom: 10px;    
                        .txt {
                            padding-left: 16px;
                            padding-right: 4px;
                            font-size: 12px;
                            text-align: left;
                            color: $color-text28;
                        }
                    }
                }

                .recent-user-group {
                    .recent-user-item {
                        display: flex;
                        padding-top: 11px;
                        padding-bottom: 10px;   
                        font-size: 12px;
                        &.odd {
                            background-color: $opgg-color-bg13;
                        }
                        .name {
                            @include ellipsis;
                            padding-left: 16px;
                            width: 90px;
                            font-size: 12px;
                            font-weight: 700;
                            color: $color-text27;
                        }
                        .total {
                            padding-right: 8px;
                            width: 50px;
                            font-size: 11px;
                            text-align: center;
                            color: $color-text29;
                        }
                        .win {
                            padding-left: 4px;
                            width: 45px;
                            font-size: 11px;
                            text-align: center;
                            color: $color-text29;
                        }
                        .lose {
                            padding-left: 12px;
                            width: 45px;
                            font-size: 11px;
                            text-align: center;
                            color: $color-text29;
                        }
                        .percentage {
                            padding-left: 16px;
                            width: 70px;
                            font-size: 11px;
                            text-align: center;
                            color: $color-text29;
                        }
                    }
                }


            }

            .advertisement-area {
                   margin-top: 10px;
            }
        }

        .user-log-area {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-top: 10px;
            margin-left: 10px;
            font-size: 12px;
            width: 690px;

            .log-type-menu {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: -1px;
                height: 34px;
                border: 1px solid $opgg-color-border9;
                border-bottom: 1px solid $opgg-color-border9;
                border-radius: 2px;
                box-shadow: $opgg-color-border8 0 1px;
                background-color: #fff;

                .log-type-group {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    padding-left: 10px;
                    .type-total {
                        margin: 0 10px;
                        height: 32px;
                        line-height: 36px;
                        vertical-align: top;
                        &.is-active {
                            border-bottom: 2px solid $opgg-color-bg9;
                            color: $opgg-color-bg9;
                            z-index: 1;
                        }
                    }
                    .type-solo {
                        margin: 0 10px;
                        height: 32px;
                        line-height: 36px;
                        font-size: 12px;
                        vertical-align: top;
                        color: $color-text27;
                    }
                    .type-free {
                        margin: 0 10px;
                        height: 32px;
                        line-height: 36px;
                        font-size: 12px;
                        vertical-align: top;
                        color: $color-text27;
                    }
                    .type-queue {
                        @include ellipsis;
                        margin: 0 10px;
                        height: 32px;
                        line-height: 36px;
                        vertical-align: top;
                        select {
                            font-size: 12px;
                            outline: none;
                            background: url(https://s-lol-web.op.gg/static/images/icon/common/bg-selectArrow-small.png)93% center no-repeat; 
                            color: $color-text28;
                        }
                    }
                }

                .search-area {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 8px 8px 9px 9px;
                    height: 34px;
                    border-left: 1px solid $opgg-color-border9;
                    .champion-search{
                        font-size: 13px;
                        border: none;
                        outline: none;
                        color: $color-text32;
                    }
                }
            }

            .recent-log {
                display: flex;
                margin-top: -1px;
                text-align: left;
                border: 1px solid $opgg-color-border9;
                box-shadow: rgb(220, 223, 223) 0px 1px;
                background-color: $opgg-color-bg12;
                
                .recent-chart {
                    width: 280px;
                    border-right: 1px solid $opgg-color-border9;
                }

                .recent-champion {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-top: 8px;
                    margin-bottom: 8px;
                    width: 230px;

                    .champion-area {
                        display: flex;
                        flex: 1;
                        align-items: center;

                        .ico-champion {
                            width: 34px;
                            height: 34px;
                            border-radius: 50%;
                        }

                        .txt-area {
                            margin-left: 6px;

                            .name {
                                margin-bottom: 2px;
                                line-height: 16px;
                                font-size: 14px;
                            }
                            
                            .win-lose,
                            .percentage {
                                line-height: 12px;
                                font-size: 11px;
                                color: $opgg-color-bg16;
                            }

                            .total-score {
                                line-height: 12px;
                                font-size: 11px;
                                font-weight: 700;
                                color: $opgg-color-bg16;
                                &::before {
                                    content: '';
                                    margin-left: 6px;
                                    margin-right: 6px;
                                    border-left: 1px solid $opgg-color-bg8;
                                }
                            }
                        }
                    }
                }

                .recent-favorite-position {
                    display: flex;
                    flex-direction: column;
                    width: 180px;
                    border-left: 1px solid $opgg-color-border9;
                    .title {
                        padding: 16px 0px 14px 20px;
                        line-height: 14px;
                        font-size: 12px;
                        color: $color-text8;
                    }
                    .fav-position {
                        padding: 0px 16px 0px 12px;
                        flex: 1;
                        .position-item {
                            display: flex;
                            align-items: center;
                            &:last-child {
                                margin-top: 16px;
                            }
                            .icon {
                                display: inline-block;
                                width: 36px;
                                height: 34px;
                                vertical-align: middle;
                                text-align: center;
                            }
                            .txt-area {
                                display: inline-block;
                                vertical-align: middle;
                                margin-left: 4px;
                                padding-bottom: 1px;
                                .name {
                                    line-height: 16px;
                                    font-size: 14px;
                                    color: $color-text15;
                                }
                                .pickrate {
                                    line-height: 12px;
                                    font-size: 11px;
                                    font-weight: 700;
                                    color: $opgg-color-bg9;
                                }
                                .winrate {
                                    line-height: 12px;
                                    font-size: 11px;
                                    color: $color-text8;
                                    &::before {
                                        content: '';
                                        margin-left: 6px;
                                        margin-right: 6px;
                                        border-left: 1px solid $opgg-color-bg8;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .beta-info {
                position: relative;
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 8px 0px 8px 16px;
                height: 34px;
                font-size: 12px;
                background-color: $opgg-color-bg16;
                color: $opgg-color-bg12;
                .beta {
                    margin-left: 8px;
                    padding: 4px 4px 2px;
                    font-size: 11px;
                    border-radius: 2px;
                    background-color: $badge-color2;
                    color: #fff;
                }
                .view-detail-btn {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 34px;
                    height: 100%;
                    background-color: #222;
                }
            }

            .more-log-btn {
                padding: 12px 0;
                border: 1px solid $opgg-color-border9;
                border-bottom: 1px solid $opgg-color-border9;
                border-radius: 2px;
                background-color: $opgg-color-bg12;
            }
        }
    }

}

.tier-default {
    width: 104px;
    height: 104px;
}

.bronze1 {
    width: 64px;
    height: 64px;
}

.ico-most-champion {
    margin-left: 15px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.type-txt {
    font-size: 11px;
    margin-bottom: 4px;
}

.tier-txt {
    font-weight: 700;
    color: $opgg-color-bg9;
}

.unranked-txt {
    font-size: 15px;
    font-weight: 700;
    color: $color-text28;
}

.point-txt {
    font-weight: 700;
    color: $color-text27;
}

.name-txt {
    width: 70px;
    font-size: 13px;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: $color-text27;
}

.cs {
    margin-top: 6px;
    font-size: 12px;
    white-space: nowrap;
    color: $color-text28;
}

.total-score {
    font-size: 13px;
    font-weight: 700;
    white-space: nowrap;
    color: $opgg-color-score1;
}

.kda-score {
    letter-spacing: 0.5px;
    font-size: 12px;
    color: $color-text28;
}

.percentage {
    font-size: 13px;
    font-weight: 700;
    white-space: nowrap;
    color: $opgg-color-percentage1;
}

.quantity {
    font-size: 11px;
    white-space: nowrap;
    color: $color-text28;
}

.more-btn {
    padding: 12px 0;
    width: 300px;
    line-height: 15px;
    font-size: 12px;
    color: $color-text27;
    text-align: center;
}