.user-body-area {
    @include common-inner;
    .user-info-area {
        .user-tier-group {
            display: flex;
            .tier-item {
                padding: 3px 4px 2px 4px;
                margin-right: 8px;
                border: 1px solid $opgg-color-border4;
                border-radius: 3px;
                background-color: $opgg-color-bg8;
                color: $color-text20;
            }
        }

        .user-profile-area {

        }

    }

    .user-menu-area {

    }

    .user-game-area {

    }

}

.icon-user {
    width: 100px;
    height: 100px;
}
