.scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-x::-webkit-scrollbar {
  display: none;
}

body {
  min-width: 320px;
  line-height: normal;
  font-size: 14px;
  color: #000;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
select,
table,
button,
code {
  font-family: -apple-system, BlinkMacSystemFont, helvetica, Apple SD Gothic Neo, sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

input,
textarea {
  font-size: inherit;
  border: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #c9c9c9;
  opacity: 1;
}

input[readonly]::-webkit-input-placeholder, input:disabled::-webkit-input-placeholder,
textarea[readonly]::-webkit-input-placeholder,
textarea:disabled::-webkit-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]::-ms-input-placeholder, input:disabled::-ms-input-placeholder,
textarea[readonly]::-ms-input-placeholder,
textarea:disabled::-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.champion-body-area {
  display: block;
  margin: 0 auto;
  max-width: 1080px;
}

.champion-body-area .advertisement-area {
  position: relative;
  margin-top: 60px;
  text-align: center;
}

.champion-body-area .advertisement-area .ico-adv {
  margin: 0 auto;
}

.champion-body-area .champion-index-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
  line-height: 18px;
  font-size: 12px;
  color: #9b9b9b;
}

.champion-body-area .champion-index-message .version-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.champion-body-area .champion-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.champion-body-area .champion-area .champion-info-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 600px;
}

.champion-body-area .champion-area .champion-info-area .champion-menu-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 52px;
  background-color: #fff;
  border-bottom: 1px solid #e9eff4;
}

.champion-body-area .champion-area .champion-info-area .champion-menu-area .position-area {
  margin: auto 20px;
}

.champion-body-area .champion-area .champion-info-area .champion-menu-area .position-area .position-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.champion-body-area .champion-area .champion-info-area .champion-menu-area .position-area .position-group .position-item {
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 15px 7px;
  line-height: 17px;
  font-size: 14px;
  color: #777777;
  border-bottom: 2px solid transparent;
}

.champion-body-area .champion-area .champion-info-area .champion-menu-area .position-area .position-group .position-item.is-active {
  font-weight: 700;
  color: #4990e2;
  border-bottom: 2px solid #4990e2;
}

.champion-body-area .champion-area .champion-info-area .champion-menu-area .position-area .position-group .position-item.lotation {
  color: #4990e2;
}

.champion-body-area .champion-area .champion-info-area .champion-menu-area .search-area {
  padding: 9px 0 10px 10px;
  margin: auto 20px;
  width: 193px;
  height: 36px;
  border: none;
  line-height: 15px;
  font-size: 12px;
  color: #9b9b9b;
  background-color: #f7f7f7;
}

.champion-body-area .champion-area .champion-info-area .champion-menu-area .search-area::-webkit-input-placeholder {
  color: #777777;
}

.champion-body-area .champion-area .champion-info-area .champion-menu-area .search-area:-ms-input-placeholder {
  color: #777777;
}

.champion-body-area .champion-area .champion-info-area .champion-menu-area .search-area::-ms-input-placeholder {
  color: #777777;
}

.champion-body-area .champion-area .champion-info-area .champion-menu-area .search-area::placeholder {
  color: #777777;
}

.champion-body-area .champion-area .champion-info-area .champion-content-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 8px;
  background-color: #f9f9f9;
}

.champion-body-area .champion-area .champion-info-area .champion-content-area .champion-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  margin-left: 12px;
}

.champion-body-area .champion-area .champion-info-area .champion-content-area .champion-item .champion-name {
  margin: 8px 0 20px;
  width: 80px;
  height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #4a4a4a;
}

.champion-body-area .champion-area .champion-trend-area .trend-menu-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 480px;
  height: 52px;
  background-color: #fff;
  border-left: 1px solid #e9eff4;
  border-bottom: 1px solid #e9eff4;
}

.champion-body-area .champion-area .champion-trend-area .trend-menu-area .champion-rank {
  margin-left: 20px;
  font-weight: 700;
}

.champion-body-area .champion-area .champion-trend-area .trend-menu-area .trend-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.champion-body-area .champion-area .champion-trend-area .trend-menu-area .trend-menu .trend-item {
  display: inline-block;
  padding: 16px 5px 14px;
  color: #777777;
}

.champion-body-area .champion-area .champion-trend-area .trend-menu-area .trend-menu .trend-item:not(:first-child)::before {
  content: '';
  margin-right: 8px;
  width: 0.1px;
  height: 12px;
  border: 1px solid #f2f3f5;
}

.champion-body-area .champion-area .champion-trend-area .trend-menu-area .trend-menu .trend-item.is-active {
  font-weight: 700;
  color: #4990e2;
  border-bottom: 2px solid #4990e2;
}

.champion-body-area .champion-area .champion-trend-area .trend-content-area {
  padding: 20px 20px 40px;
  border-left: 2px solid #eaeaea;
  background-color: #f9f9f9;
}

.champion-body-area .champion-area .champion-trend-area .trend-content-area .select-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 36px;
  border: 1px solid #e9eff4;
}

.champion-body-area .champion-area .champion-trend-area .trend-content-area .select-position .position-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 12px auto;
  text-align: center;
  line-height: 36px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.9px;
  color: #b6b6b6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.champion-body-area .champion-area .champion-trend-area .trend-content-area .select-position .position-item:not(:last-child) {
  border-right: 1px solid #e9eff4;
}

.champion-body-area .champion-area .champion-trend-area .trend-content-area .select-position .position-item.is-active {
  color: #4a4a4a;
  font-weight: 700;
  background-color: #fff;
}

.champion-body-area .champion-area .champion-trend-area .trend-content-area .trend-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.champion-body-area .champion-area .champion-trend-area .trend-content-area .trend-group .trend-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 440px;
  height: 60px;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
  border-left: 1px solid #ebeef1;
  border-bottom: 1px solid #ebeef1;
  border-right: 1px solid #ebeef1;
  color: #777777;
}

.champion-body-area .champion-area .champion-trend-area .trend-content-area .trend-group .trend-item:first-child {
  height: 56px;
  line-height: 30px;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  border: none;
  color: #777777;
  border-bottom: 1px solid #ebeef1;
}

.champion-body-area .champion-area .champion-trend-area .trend-content-area .trend-group .trend-item:first-child .index {
  width: 80px;
}

.champion-body-area .champion-area .champion-trend-area .trend-content-area .trend-group .trend-item:first-child .index-champion {
  width: 170px;
}

.champion-body-area .champion-area .champion-trend-area .trend-content-area .trend-group .trend-item:first-child .index-winrate,
.champion-body-area .champion-area .champion-trend-area .trend-content-area .trend-group .trend-item:first-child .index-pickrate {
  width: 65px;
}

.champion-body-area .champion-area .champion-trend-area .trend-content-area .trend-group .trend-item:first-child .index-tier {
  width: 60px;
}

.champion-body-area .champion-area .champion-trend-area .trend-content-area .trend-group .trend-item:not(:first-child) {
  background-color: #fff;
}

.ico-tip {
  margin-right: 8px;
}

.ico-cmp {
  margin-right: 2px;
}

.version-txt {
  color: #000;
}

.ranking {
  width: 40px;
  font-size: 16px;
  font-style: italic;
}

.variation {
  width: 40px;
}

.variation .rank-change {
  padding-right: 4px;
}

.name {
  position: relative;
  width: 170px;
  text-align: left;
}

.name .txt {
  position: absolute;
  padding-left: 8px;
  color: #4a4a4a;
}

.name .position-txt {
  padding-top: 2px;
  padding-left: 8px;
  font-size: 12px;
}

.winrate,
.pickrate {
  width: 65px;
}

.tier {
  width: 60px;
}

.footer-area {
  display: block;
  margin: 0 auto;
  max-width: 1080px;
  position: relative;
  padding: 40px 0;
  color: #fff;
}

.footer-area.champion {
  color: #333333;
}

.footer-area .footer-menu-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  line-height: 15px;
  font-size: 12px;
}

.footer-area .footer-menu-area .menu-item {
  margin-right: 20px;
}

.footer-area .footer-copyright-area {
  margin-top: 10px;
  line-height: 1.5;
  font-size: 11px;
  width: 1000px;
}

.footer-area .footer-sns-area {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  right: 0;
}

.footer-area .footer-sns-area .sns-item {
  padding: 0 4px;
}

.header-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
  min-width: 1080px;
  background-color: #232f46;
}

.header-area .opgg-logo {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px 16.5px;
  height: 40px;
  width: 98px;
  background-color: #5383e8;
}

.header-area .game-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 98px;
  margin-right: 50px;
  z-index: 1000;
}

.header-area .game-group .game-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4px;
  padding: 0 8px;
  height: 32px;
  line-height: 32px;
  color: #c3cbd1;
  letter-spacing: -0.4px;
  white-space: nowrap;
}

.header-area .game-group .game-item.current {
  margin: 0;
  padding: 0 12px 0 4px;
  height: 40px;
  line-height: 40px;
  background-color: #5383e8;
  color: #fff;
}

.header-area .game-group .game-item .game-title {
  font-size: 12px;
  margin-left: 8px;
  vertical-align: middle;
  overflow: hidden;
}

.header-area .game-group .game-item .game-title.new::before {
  content: 'N';
  margin-right: 4px;
  padding: 2px 4px;
  width: 16px;
  height: 17px;
  line-height: 17px;
  color: #28344e;
  background-color: #ffb900;
  border-radius: 50%;
  font-size: 11px;
  font-weight: 700;
}

.header-area .game-group .game-item .game-title.beta::before {
  content: 'Beta';
  margin-right: 4px;
  padding: 3px 6px;
  width: 16px;
  height: 17px;
  line-height: 17px;
  color: #28344e;
  background-color: #ffb900;
  border-radius: 9px;
  font-size: 11px;
  font-weight: 700;
}

.header-area .select-language-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  top: 0;
  right: 0;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  color: #c3cbd1;
}

.header-area .select-language-area .ico-earth {
  margin: auto 4px;
}

.header-area .select-language-area .language-item {
  margin: 0 8px;
}

.header-area .select-language-area .language-item .ico-triangle-down {
  padding: 1px;
  margin: auto 4px;
}

.header-area .select-language-area .login {
  display: inline-block;
  margin: 4px 0;
  padding: 0 16px;
  line-height: 26px;
  letter-spacing: -0.5px;
  border-radius: 5px;
  background-color: #5383e8;
}

.header-area .ico-opgg {
  height: 16px;
  width: 65px;
}

.header-area .game-img {
  margin: auto 0;
  height: 24px;
  width: 24px;
}

.main-body-area {
  display: block;
  margin: 0 auto;
  max-width: 1080px;
}

.main-body-area .main-logo {
  padding: 32px 0 24px;
}

.main-body-area .search-area {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 624px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.08);
}

.main-body-area .search-area .search-name {
  display: block;
  padding: 15px 280px 18px 17px;
  line-height: 17px;
  font-size: 14px;
  outline: none;
}

.main-body-area .search-area .search-etc {
  padding-right: 17px;
}

.main-body-area .tab-area {
  margin: 0 auto;
  width: 624px;
  border-radius: 0 0 2px 2px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.main-body-area .tab-area .tab-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  background-color: #e3e3e3;
}

.main-body-area .tab-area .tab-header .tab-header-recent {
  top: 0;
  left: 0;
  width: 50%;
}

.main-body-area .tab-area .tab-header .tab-header-recent.is-active {
  background-color: #fff;
}

.main-body-area .tab-area .tab-header .tab-header-favorite {
  top: 0;
  right: 0;
  width: 50%;
}

.main-body-area .tab-area .tab-header .tab-header-favorite.is-active {
  background-color: #fff;
}

.main-body-area .tab-area .tab-group1 {
  display: none;
}

.main-body-area .tab-area .tab-group1.is-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 20px 20px 0;
}

.main-body-area .tab-area .tab-group1.is-active .tab-item {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
  padding-left: 20px;
  line-height: 15px;
  font-size: 12px;
  width: 200px;
  color: #666666;
}

.main-body-area .tab-area .tab-group1.is-active .tab-item .user-name {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 140px;
  white-space: nowrap;
}

.main-body-area .tab-area .tab-group1.is-active .tab-item .ico-delete {
  position: absolute;
  right: 0;
}

.main-body-area .tab-area .tab-group1.is-active .tab-item .ico-star {
  position: absolute;
  right: 24px;
}

.main-body-area .tab-area .tab-group2 {
  display: none;
}

.main-body-area .tab-area .tab-group2.is-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-body-area .tab-area .tab-group2.is-active .tab-favorite-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  line-height: 15px;
  font-size: 12px;
  color: #666666;
}

.main-body-area .tab-area .tab-group2.is-active .tab-favorite-info .txt {
  padding: 0 3px;
}

.main-body-area .advertisement-area {
  position: relative;
  margin-top: 60px;
  text-align: center;
}

.main-body-area .advertisement-area .ico-adv {
  margin: 0 auto;
}

.main-body-area .talk-best-area {
  margin-top: 30px;
  min-height: 396px;
  border: 1px solid #e9eff4;
  background-color: #fff;
}

.main-body-area .talk-best-area .talk-best-title {
  display: block;
  padding: 17px 0 16px 20px;
  line-height: 17px;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}

.main-body-area .talk-best-area .best-talk-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-body-area .talk-best-area .best-talk-group .best-talk-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 8px 8px 4px 0;
  width: 50%;
}

.main-body-area .talk-best-area .best-talk-group .best-talk-item .talk-num {
  margin: auto 0;
  width: 55px;
  color: #1ab80c;
  text-align: center;
}

.main-body-area .talk-best-area .best-talk-group .best-talk-item .talk-img {
  margin: auto 0;
}

.main-body-area .talk-best-area .best-talk-group .best-talk-item .talk-subject {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: auto 0;
  padding-left: 8px;
  max-width: 300px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-body-area .talk-best-area .best-talk-group .best-talk-item .talk-subject .user-info {
  margin-top: 6px;
  color: #879292;
  line-height: 15px;
  font-size: 12px;
}

.main-body-area .talk-best-area .best-talk-group .best-talk-item .talk-subject .user-info .txt-username::before {
  content: "";
  display: inline-block;
  margin: 0 6px;
  height: 3px;
  border-left: 3px solid #d8d8d8;
  border-radius: 50%;
  vertical-align: middle;
}

.main-logo-img {
  display: block;
  margin: 0 auto;
  max-height: 200px;
}

.btn-country1 {
  padding: 2px 6px 2px 8px;
  color: #fff;
  background-color: #788185;
  font-size: 11px;
}

.btn-country2 #triangle-down {
  margin: 0 6px;
  padding-top: 2px;
}

.btn-find-user {
  margin-left: 8px;
  padding: 6px 10px;
  border-radius: 2px;
  color: #fff;
  background-color: #00D4ff;
}

.txt-emphasize {
  color: #0475b8;
}

.menu-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 48px;
  background-color: #5383e8;
  border-bottom: 1px solid #4171d6;
}

.menu-area .menu-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 100px;
}

.menu-area .menu-group .menu-item {
  margin-left: 24px;
  padding-top: 13px;
  padding-bottom: 11.4px;
  color: #b3cdff;
}

.menu-area .menu-group .menu-item.knife-wind, .menu-area .menu-group .menu-item.urf {
  color: #00fede;
}

.menu-area .menu-group .menu-item.is-active {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.user-body-area {
  display: block;
  margin: 0 auto;
  max-width: 1080px;
}

.user-body-area .user-info-area {
  margin: 0 auto;
  padding: 20px 0px 0px;
  width: 1000px;
}

.user-body-area .user-info-area .user-tier-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -5px;
  margin-left: 5px;
  padding-left: 30px;
  padding-bottom: 15px;
}

.user-body-area .user-info-area .user-tier-group .tier-item {
  padding: 3px 4px 2px 4px;
  margin-right: 8px;
  border: 1px solid #ced3d3;
  border-radius: 3px;
  background-color: #e0e3e3;
  color: #657070;
}

.user-body-area .user-info-area .user-profile-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-body-area .user-info-area .user-profile-area .face-group {
  position: relative;
}

.user-body-area .user-info-area .user-profile-area .face-group .icon-user {
  margin-left: 30px;
  width: 100px;
  height: 100px;
}

.user-body-area .user-info-area .user-profile-area .face-group .level {
  position: absolute;
  left: 50%;
  margin-top: -26px;
  margin-left: -8px;
  padding-top: 5px;
  width: 44px;
  height: 24px;
  line-height: 17px;
  font-size: 14px;
  text-align: center;
  background: url(/assets/images/bg-levelbox.png);
  color: #eabd56;
}

.user-body-area .user-info-area .user-profile-area .user-profile-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-body-area .user-info-area .user-profile-area .user-profile-group .user-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 25px 0px 28px;
}

.user-body-area .user-info-area .user-profile-area .user-profile-group .user-name .txt {
  margin-right: 4px;
  font-size: 20px;
  font-weight: 700;
  color: #242929;
}

.user-body-area .user-info-area .user-profile-area .user-profile-group .user-name .favorite {
  margin-left: 4px;
  padding: 3px 5px;
  border: 1px solid #c6cbcb;
  border-radius: 3px;
  font-size: 10px;
  color: #777777;
}

.user-body-area .user-info-area .user-profile-area .user-profile-group .user-name .favorite::before {
  content: url(/assets/images/icon-favoriteStar-off.png);
  vertical-align: middle;
}

.user-body-area .user-info-area .user-profile-area .user-profile-group .user-name .favorite .txt {
  font-size: 10px;
  color: #777777;
}

.user-body-area .user-info-area .user-profile-area .user-profile-group .user-name .favorite.is-active::before {
  content: url(/assets/images/icon-favoriteStar-on.png);
  vertical-align: middle;
}

.user-body-area .user-info-area .user-profile-area .user-profile-group .update-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 25px 0px 28px;
  height: 40px;
  line-height: 40px;
}

.user-body-area .user-info-area .user-profile-area .user-profile-group .update-group .update-log {
  margin: 0px 6px 0px 0px;
  padding: 11px 14px 10px;
  font-size: 14px;
  border: 1px solid #1a78ae;
  border-radius: 2px;
  color: #f2f2f2;
  background-color: #1f8ecd;
}

.user-body-area .user-info-area .user-profile-area .user-profile-group .update-group .update-total {
  position: relative;
  padding: 11px 54px 10px 14px;
  line-height: 17px;
  font-size: 14px;
  border: 1px solid #6833d5;
  border-radius: 2px;
  background-color: #955dff;
  color: #f2f2f2;
}

.user-body-area .user-info-area .user-profile-area .user-profile-group .update-group .update-total .ico-nopgg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 46px;
  height: 34px;
}

.user-body-area .user-info-area .user-profile-area .user-profile-group .recent-update {
  margin: 6px 0 4px 28px;
  font-size: 10px;
  color: #99a2a2;
}

.user-body-area {
  display: block;
  margin: 0 auto;
  max-width: 1080px;
}

.user-body-area .user-menu-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-body-area .user-menu-area .total-menu {
  display: block;
  padding: 0 6px;
  min-width: 70px;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  border-width: 1px;
  border-style: solid;
  border-color: #c6cbcb #c6cbcb #eaeaea;
  background-color: #e8eaea;
  color: #141717;
  text-align: center;
}

.user-body-area .user-menu-area .champion-menu {
  padding: 0 6px;
  min-width: 70px;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  border: 1px solid #c6cbcb;
  background-color: #f2f2f2;
  color: #555e5e;
  text-align: center;
}

.user-body-area .user-menu-area .ingame-menu {
  position: relative;
  margin-left: 15px;
  padding: 0 20px;
  min-width: 70px;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  border: 1px solid #c6cbcb;
  background-color: #f2f2f2;
  color: #1a78ae;
  text-align: center;
}

.user-body-area .user-menu-area .ingame-menu .ico-ingame {
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
}

.user-body-area .advertisement-area {
  margin-top: 30px;
}

.user-body-area .user-game-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-body-area .user-game-area .user-statistics-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.user-body-area .user-game-area .user-statistics-area .solo-rank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  padding: 8px 0;
  width: 100%;
  border: 1px solid #cdd2d2;
  color: #879292;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0 1px #dcdfdf;
          box-shadow: 0 1px #dcdfdf;
}

.user-body-area .user-game-area .user-statistics-area .solo-rank .medal {
  padding: 10px 8px;
  width: 120px;
  height: 124px;
  text-align: center;
}

.user-body-area .user-game-area .user-statistics-area .solo-rank .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 178px;
  height: 124px;
}

.user-body-area .user-game-area .user-statistics-area .free-rank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  padding: 8px 0;
  width: 100%;
  border: 1px solid #cdd2d2;
  color: #879292;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0 1px #dcdfdf;
          box-shadow: 0 1px #dcdfdf;
}

.user-body-area .user-game-area .user-statistics-area .free-rank .medal {
  padding: 9px 28px;
  width: 120px;
  height: 82px;
  text-align: center;
}

.user-body-area .user-game-area .user-statistics-area .free-rank .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 178px;
  height: 82px;
  font-size: 12px;
}

.user-body-area .user-game-area .user-statistics-area .champion-statistics {
  margin-top: 10px;
  border: 1px solid #cdd2d2;
  border-radius: 2px;
  background-color: #ededed;
  -webkit-box-shadow: 0 1px #dcdfdf;
          box-shadow: 0 1px #dcdfdf;
}

.user-body-area .user-game-area .user-statistics-area .champion-statistics .statistics-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 44px;
}

.user-body-area .user-game-area .user-statistics-area .champion-statistics .statistics-menu .season-total {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 7px;
  padding-bottom: 6px;
  line-height: 15px;
  font-size: 12px;
  font-weight: 700;
  border-bottom: 1px solid #ededed;
  color: #555e5e;
  text-align: center;
}

.user-body-area .user-game-area .user-statistics-area .champion-statistics .statistics-menu .season-solo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 7px;
  padding-bottom: 6px;
  line-height: 15px;
  font-size: 12px;
  border-left: 1px solid #cdd2d2;
  border-bottom: 1px solid #cdd2d2;
  background-color: #f2f2f2;
  color: #879292;
  text-align: center;
}

.user-body-area .user-game-area .user-statistics-area .champion-statistics .statistics-menu .season-free {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 7px;
  padding-bottom: 6px;
  line-height: 15px;
  font-size: 12px;
  border-left: 1px solid #cdd2d2;
  border-bottom: 1px solid #cdd2d2;
  background-color: #f2f2f2;
  color: #879292;
  text-align: center;
}

.user-body-area .user-game-area .user-statistics-area .champion-statistics .champion-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-body-area .user-game-area .user-statistics-area .champion-statistics .champion-group .champion-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 52px;
  border-bottom: 1px solid #cdd2d2;
}

.user-body-area .user-game-area .user-statistics-area .champion-statistics .champion-group .champion-item .info {
  padding-left: 8px;
  width: 80px;
  text-align: left;
}

.user-body-area .user-game-area .user-statistics-area .champion-statistics .champion-group .champion-item .kda {
  width: 90px;
  line-height: 1.2;
  text-align: center;
}

.user-body-area .user-game-area .user-statistics-area .champion-statistics .champion-group .champion-item .played {
  width: 70px;
  text-align: center;
}

.user-body-area .user-game-area .user-statistics-area .recent-winrate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  border: 1px solid #cdd2d2;
  border-radius: 2px;
  background-color: #ededed;
  -webkit-box-shadow: 0 1px #dcdfdf;
          box-shadow: 0 1px #dcdfdf;
}

.user-body-area .user-game-area .user-statistics-area .recent-winrate .subject {
  padding: 8px 0;
  width: 100%;
  border-bottom: 1px solid #cdd2d2;
  text-align: left;
}

.user-body-area .user-game-area .user-statistics-area .recent-winrate .winrate-group .winrate-item {
  border-bottom: 1px solid #cdd2d2;
}

.user-body-area .user-game-area .user-statistics-area .recent-winrate .winrate-group .winrate-item .ico-champion {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.user-body-area .user-game-area .user-statistics-area .recent-winrate .winrate-group .winrate-item:last-child {
  border-bottom: none;
}

.user-body-area .user-game-area .user-statistics-area .recent-user {
  margin-top: 12px;
  border: 1px solid #cdd2d2;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px #dcdfdf;
          box-shadow: 0 1px #dcdfdf;
  background-color: #f2f2f2;
}

.user-body-area .user-game-area .user-statistics-area .recent-user .subject {
  display: block;
  padding: 10px 16px;
  font-size: 12px;
  font-weight: 700;
  border-bottom: 1px solid #cdd2d2;
  color: #555e5e;
}

.user-body-area .user-game-area .user-statistics-area .recent-user .recent-user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.user-body-area .user-game-area .user-statistics-area .recent-user .recent-user-menu .sort-btn {
  padding-top: 11px;
  padding-bottom: 10px;
}

.user-body-area .user-game-area .user-statistics-area .recent-user .recent-user-menu .sort-btn .txt {
  padding-left: 16px;
  padding-right: 4px;
  font-size: 12px;
  text-align: left;
  color: #879292;
}

.user-body-area .user-game-area .user-statistics-area .recent-user .recent-user-group .recent-user-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 11px;
  padding-bottom: 10px;
  font-size: 12px;
}

.user-body-area .user-game-area .user-statistics-area .recent-user .recent-user-group .recent-user-item.odd {
  background-color: #e0e3e2;
}

.user-body-area .user-game-area .user-statistics-area .recent-user .recent-user-group .recent-user-item .name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 16px;
  width: 90px;
  font-size: 12px;
  font-weight: 700;
  color: #555e5e;
}

.user-body-area .user-game-area .user-statistics-area .recent-user .recent-user-group .recent-user-item .total {
  padding-right: 8px;
  width: 50px;
  font-size: 11px;
  text-align: center;
  color: #676f89;
}

.user-body-area .user-game-area .user-statistics-area .recent-user .recent-user-group .recent-user-item .win {
  padding-left: 4px;
  width: 45px;
  font-size: 11px;
  text-align: center;
  color: #676f89;
}

.user-body-area .user-game-area .user-statistics-area .recent-user .recent-user-group .recent-user-item .lose {
  padding-left: 12px;
  width: 45px;
  font-size: 11px;
  text-align: center;
  color: #676f89;
}

.user-body-area .user-game-area .user-statistics-area .recent-user .recent-user-group .recent-user-item .percentage {
  padding-left: 16px;
  width: 70px;
  font-size: 11px;
  text-align: center;
  color: #676f89;
}

.user-body-area .user-game-area .user-statistics-area .advertisement-area {
  margin-top: 10px;
}

.user-body-area .user-game-area .user-log-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
  width: 690px;
}

.user-body-area .user-game-area .user-log-area .log-type-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: -1px;
  height: 34px;
  border: 1px solid #cdd2d2;
  border-bottom: 1px solid #cdd2d2;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px #dcdfdf;
          box-shadow: 0 1px #dcdfdf;
  background-color: #f2f2f2;
}

.user-body-area .user-game-area .user-log-area .log-type-menu .log-type-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-body-area .user-game-area .user-log-area .recent-log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -1px;
  text-align: left;
  border: 1px solid #cdd2d2;
  -webkit-box-shadow: #dcdfdf 0px 1px;
          box-shadow: #dcdfdf 0px 1px;
  background-color: #f2f2f2;
}

.user-body-area .user-game-area .user-log-area .recent-log .recent-chart {
  width: 280px;
  border-right: 1px solid #cdd2d2;
}

.user-body-area .user-game-area .user-log-area .recent-log .recent-champion {
  width: 230px;
  border-right: 1px solid #cdd2d2;
}

.user-body-area .user-game-area .user-log-area .recent-log .recent-champion .champion-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-body-area .user-game-area .user-log-area .recent-log .recent-champion .champion-area .ico-champion {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.user-body-area .user-game-area .user-log-area .recent-log .recent-favorite-position {
  width: 180px;
}

.user-body-area .user-game-area .user-log-area .beta-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px 0px 8px 16px;
  height: 34px;
  font-size: 12px;
  background-color: #333333;
  color: #f2f2f2;
}

.user-body-area .user-game-area .user-log-area .beta-info .beta {
  margin-left: 8px;
  padding: 4px 4px 2px;
  font-size: 11px;
  border-radius: 2px;
  background-color: #ffa302;
  color: #fff;
}

.user-body-area .user-game-area .user-log-area .beta-info .view-detail-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
  background-color: #222;
}

.user-body-area .user-game-area .user-log-area .more-log-btn {
  padding: 12px 0;
  border: 1px solid #cdd2d2;
  border-bottom: 1px solid #cdd2d2;
  border-radius: 2px;
  background-color: #f2f2f2;
}

.tier-default {
  width: 104px;
  height: 104px;
}

.bronze1 {
  width: 64px;
  height: 64px;
}

.ico-most-champion {
  margin-left: 15px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.type-txt {
  font-size: 11px;
  margin-bottom: 4px;
}

.tier-txt {
  font-weight: 700;
  color: #1f8ecd;
}

.unranked-txt {
  font-size: 15px;
  font-weight: 700;
  color: #879292;
}

.point-txt {
  font-weight: 700;
  color: #555e5e;
}

.name-txt {
  width: 70px;
  font-size: 13px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #555e5e;
}

.cs {
  margin-top: 6px;
  font-size: 12px;
  white-space: nowrap;
  color: #879292;
}

.total-score {
  font-size: 13px;
  font-weight: 700;
  white-space: nowrap;
  color: #2daf7f;
}

.kda-score {
  letter-spacing: 0.5px;
  font-size: 12px;
  color: #879292;
}

.percentage {
  font-size: 13px;
  font-weight: 700;
  white-space: nowrap;
  color: #c6443e;
}

.quantity {
  font-size: 11px;
  white-space: nowrap;
  color: #879292;
}

.more-btn {
  padding: 12px 0;
  width: 300px;
  line-height: 15px;
  font-size: 12px;
  color: #555e5e;
  text-align: center;
}

.recent-log-group .recent-log-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 8px;
  width: 689px;
  height: 97px;
  text-align: center;
}

.recent-log-group .recent-log-item.win {
  border: 1px solid #99b9cf;
  background-color: #a5cfec;
}

.recent-log-group .recent-log-item.lose {
  border: 1px solid #cea7a7;
  background-color: #e2b6b4;
}

.recent-log-group .recent-log-item .info {
  width: 70px;
  line-height: 16px;
  font-size: 11px;
  color: #555555;
}

.recent-log-group .recent-log-item .info .type {
  font-weight: 700;
}

.recent-log-group .recent-log-item .info .bar {
  display: block;
  width: 28px;
  margin: 5px auto;
  height: 2px;
  background-color: #99b9cf;
}

.recent-log-group .recent-log-item .info .game-result {
  font-weight: 700;
  color: #1a78ae;
}

.recent-log-group .recent-log-item .champion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100px;
  height: 100%;
}

.recent-log-group .recent-log-item .champion .setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recent-log-group .recent-log-item .champion .setting .icon .ico-champion {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.recent-log-group .recent-log-item .champion .setting .spells {
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
}

.recent-log-group .recent-log-item .champion .setting .spells .ico-spell {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 3px;
  overflow: hidden;
}

.recent-log-group .recent-log-item .champion .setting .runes .ico-rune {
  display: block;
  width: 22px;
  height: 22px;
}

.recent-log-group .recent-log-item .champion .name {
  display: block;
  width: 100px;
  text-align: center;
}

.recent-log-group .recent-log-item .kda {
  width: 115px;
}

.recent-log-group .recent-log-item .kda .multi-kill {
  display: inline-block;
  padding: 2px 5px;
  border: 1px solid #c6443e;
  border-radius: 15px;
  background-color: #ef5a52;
  color: #fff;
}

.recent-log-group .recent-log-item .stats {
  width: 90px;
}

.recent-log-group .recent-log-item .items {
  width: 115px;
}

.recent-log-group .recent-log-item .items .ico-item {
  width: 22px;
  height: 22px;
}

.recent-log-group .recent-log-item .items .ico-ward {
  width: 22px;
  height: 22px;
}

.recent-log-group .recent-log-item .items .ico-bluebuild {
  width: 22px;
  height: 22px;
}

.recent-log-group .recent-log-item .participants {
  width: 170px;
}

.recent-log-group .recent-log-item .participants .ico-participant {
  width: 16px;
  height: 16px;
}

.recent-log-group .recent-log-item .action {
  width: 47px;
}

.container {
  min-height: 100vh;
  background-color: #5383e8;
}

.container.main {
  background-color: #5383e8;
}

.container.user, .container.champion {
  background-color: #eaeaea;
}

.chatting-area {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 60px;
  height: 60px;
  background-color: #1d2e51;
  border-radius: 50%;
}

.chatting-area .btn-chatting {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/*# sourceMappingURL=styles.css.map */